.tabs {
    display: flex;
    max-width: 680px;
    margin: 0 auto;
    gap: 1px;
}
.tab {
    height: 50px;
    flex: 0 1 33.333%;
    display: flex;
    justify-content: center;
    line-height: 50px;
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    color: var(--main-color);
    transition: background-color .3s ease;
}

.tab.active {
    color: var(--accent-color);
    background-color: var(--main-color)
}

.tab:hover:not(.active) {
    background-color: var(--accent-hover);
    border: 3px solid var(--accent-hover);
}

.tab:first-child {
    border-radius: 10px 0 0 10px;
}
.tab:last-child {
    border-radius: 0 10px 10px 0;
}