.button {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    transition: background-color .3s ease;
}

.button:hover {
    background-color: var(--accent-hover);
}