.actions {
    display: flex;
    align-items: center;
    margin: 50px 0;
}
.tools {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    gap: 15;
}
.tool {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color .3s ease;
}
.tool:hover {
    background-color: var(--accent-hover);
}
.tool.active {
    background-color: #FF4757;
}
.editBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.editBlock button {
    width: 200px;
}

.editBlock p {
    font-weight: 700;
}
