.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 50;
}